.wrapper {
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;
=======
    justify-content: space-around;
    margin-bottom: 50px;

>>>>>>> 8deccadb7947fa3b8a98e6d06c2f1405088a90a3
  }